.todosApp {
    font-size: 1.125rem;
}

.addTodoWrapper {
    display: flex;
}

.addTodoButton {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-blue-grey-100);
    border-left: none;
    background-color: var(--color-grey-50);
    font-size: 1.5rem;
    font-weight: 700;
}
.addTodoButton:hover {
    background-color: var(--color-grey-100);
}

.input {
    padding: 0.75rem;
    width: 100%;
    border: 1px solid var(--color-blue-grey-100);
    font-size: 1.125rem;
}
.input:focus {
    border-color: var(--color-light-blue-300);
    outline: none;
}
